{% extends "base.html" %}

{% block content %}
<h2 class="text-center mt-3">Приветствуем на MarkList!</h2>
<div class="row mt-3">
    <div class="col-7">
        <div class="row">
            <div class="text-justify tale">
                Этот сайт предназначен для отслеживания прочитанных книг, просмотренных сериалов и фильмов и выставления
                им оценок.
            </div>
        </div>
        <div class="row">
            <div class="text-justify tale">Книги, фильмы, сериалы - все эти вещи похожи по своему смыслу.
                Мы довольно часто тратим на них свободное время, а некоторые всю жизнь занимаются их созданием или
                изучением.
                Все потому, что так мы лучше всего передаем то, что хотим сказать, на чем мы думаем следует
                акцентировать внимание.
                С другой стороны, книга, фильм или сериал способны вызвать хорошее насторение. Тем не менее, зачем бы вы
                это не делали,
                здесь вы можете отметить, что посмотрели/прочитали и поставить оценку, внеся вклад в среднюю, которая
                видна всем пользователям сайта!
            </div>
        </div>
    </div>
    <div class="col-5"><img src="/static/images/book.jpg" alt="Пропала картинка:(" width="450" height="450"></div>
</div>
{% endblock %}
